{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "simple-import-sort"],
  "rules": {
    // For the few semi-colons required (e.g. inline array operations), place them at the beginning of the statement
    "semi": ["error", "never"],
    // For the few semi-colons required (e.g. inline array operations), place them at the beginning of the statement
    "semi-style": ["error", "first"],
    // Semi colons are visual garbage
    "@typescript-eslint/semi": ["error", "never"],
    // Spacing in brackets is consistent and readable
    "array-bracket-spacing": ["error", "always"],
    // Spacing in brackets is consistent and readable
    "computed-property-spacing": ["error", "always"],
    // Spacing in brackets is consistent and readable
    "space-in-parens": [
      "error",
      "always",
      {
        "exceptions": ["empty"]
      }
    ],
    // Preferable, but the author should know best for the situation
    "import/prefer-default-export": "off",
    // Windows users may checkout as CRLF, but check in as LF, which this rule breaks
    "linebreak-style": "off",
    // Be consistent about where the object braces go
    "object-curly-newline": [
      "error",
      {
        "consistent": true
      }
    ],
    "arrow-parens": [
      "error",
      "as-needed",
      {
        "requireForBlockBody": false
      }
    ],
    // There's no need to have more than 1 empty line, ever
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    // No unused variables except when prepended with _, to indicate that they're not to be used, but require definition to be valid code
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "^_"
      }
    ],
    // Typescript types should be delimited by commas, not semi-colons
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "comma"
        },
        "singleline": {
          "delimiter": "comma"
        }
      }
    ],
    // This plugin sorts alphabetically by default
    "simple-import-sort/sort": "off",
    // Add new line between imports
    "import/order": [
      "error",
      {
        "newlines-between": "always"
      }
    ],
     // No need to have the .jsx file extension
     "react/jsx-filename-extension": "off",
     // No need to sort methods in class components, and it can sometimes mess with member and function declarations
     "react/sort-comp": "off",
     // Prefer passing in ES6 default values to function components (https://github.com/yannickcr/eslint-plugin-react/issues/2396)
     "react/require-default-props": "off",
     // There's no point disabling prop spreading, it can be useful if not abused
     "react/jsx-props-no-spreading": "off",
     // Let Typescript infer the return types
     "@typescript-eslint/explicit-module-boundary-types": "off",
     // Use the new JSX transform React v17
     "react/jsx-uses-react": "off",
     "react/react-in-jsx-scope": "off",
     // https://eslint.org/docs/rules/no-shadow seems sensible to not have shadow variables, but can get annoying real quick, especially in the case of reducers
     "no-shadow": "off",
     "@typescript-eslint/no-shadow": "off",
     "lines-around-comment": ["off", { "beforeBlockComment": false }]
  }
}
